<div class="card-body" onclick="loadLoanView('%appId%');loadFiles('%appId%')">
                            <div class="media" onclick="loadLoanView('%appId%')">
                                <figure class="icons icon-40 mr-2 bg-light-%color%">
                                    <i class="material-icons">%icon%</i>
                                </figure>
                                <div class="media-body" onclick="loadLoanView('%appId%')">
                                    <h6 class="mb-1">%amount% USD %loanProd%</h6>
                                    <p class="mb-0 text-mute small">%loanPurpose%</p>
                                </div>
                            </div>
                        </div>