 <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-invoice-wrap pa-35">
                            <div class="invoice-from-wrap">
                                <div class="row">
                                    <div class="col-md-7 mb-20">
                                        <img class="img-fluid invoice-brand-img d-block mb-20" src="../../images/avatar/%logo%" alt="brand" width="80px" height="" />
                                        <h4 class="mb-2 font-weight-600">%cName%</h4>
                                        <p class="mb-3" style="font-weight:bold; color:blue;">%cReg% %cType% : %cNo%</p>
                                        <address>
												<span class="d-block">%cIndustry%</span>
												<span class="d-block">%cSize% employes</span>
												<span class="d-block">%cAddress%</span>
												<span class="d-block">%cPhone%</span>
											</address>
                                    </div>
                                    <div class="col-md-5 mb-20">
                                        <h4 class="mb-35 font-weight-600">%hName%</h4>
                                        <span class="d-block">%hIdT%:<span class="pl-10 text-dark">%hIdNo%</span></span>
                                        <span class="d-block">Date of Birth #<span class="pl-10 text-dark">%hDob%</span></span>
                                        <span class="d-block">BVN #<span class="pl-10 text-dark">%bVn%</span></span>
                                        <span class="d-block"><span class="pl-10 text-dark"><img src="%ID_file%" width="120px" height="" style="padding:10px;"/> <img src="%Creg_file%" width="120px" height="" style="padding:10px;"/></span></span>
                                    </div>
                                </div>
                            </div>
                            <h5>About</h5>
							<p>%cAbout%</p>
                            <hr class="mt-0">
							<button onclick="runReqCheck('%uID%')" class="btn btn-primary btn-sm">Run check</button>
                        </section>
                    </div>
                </div>
                <!-- /Row -->