<!-- product-1 -->
                <div class="%col%" style="border-top:solid 10px #fff;">
                    <!-- <div class="product-block">
                       <div class="product-img"><img src="%img%" alt="" class="img-responsive"></div>-->
                        <div class="product-content">
                            <h3>%title%</h3>
                               <p>%shortDesc%</p>
                            <a href="#" onclick="page('application')" > <span class="arrow"><i class="icon-next-10"></i></span>Apply now</a> </div>
                    <!-- </div>-->
                </div>
                <!-- /.product-1 -->