<div class="card shadow-hover-lg">
                                                <div class="card-body">
                                                    <h5 class="card-title">%title%</h5>
                                                    <p class="card-text">%desc%</p>
                                                   <button onclick="newWorksheet('page', '%pageId%.htm')" type="button" class="btn btn-outline-primary"><i class="zmdi zmdi-plus font-15"></i> %buttonNane%</button>
                                                </div>
                                            </div>